<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1509718497735-12d26d780d2c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);">
  <div class="container">
    <h1><strong>CaddY'n'B</strong>!</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
  </div>
</div>

<div class="container-index">
  <div class="cards-mf">
    <% @caddies.each do |caddy| %>
      <div class="card-mf">
        <%= link_to caddy_path(caddy), style:'text-decoration:none; color: #727071' do %>
          <img src="https://image.darty.com/darty?type=image&source=/market/2017/06/28/mkp_qX2QqqJL0Cc06g.jpeg&width=400&height=300&quality=70" />
          <div class="home-card-title">
            <h2><%= caddy.name %></h2>
          </div>
          <div class="home-card-text">
            <p>Condition : <%=caddy.condition %></p>
            <p> Nombre de roues : <%= caddy.wheels_number %></p>
            <p> Capacity : <%= caddy.capacity %></p>
            <p class="price-mf" style="padding: 2px 7px"> <strong> <%= caddy.price %>€</strong></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div
    id="map"
    style="width: 500px; height: 100vh; position: sticky; top:0; background-size: cover; overflow: hidden;">
  <img src="https://planmetro.paris/wp-content/uploads/2015/10/paris-map.jpg" alt="map temporaire">
  </div>
</div>
